h1{

text-align: center;

background: red;

}

.App-container{

display: flex;
height: 100%px;


}

.content-container{
 width: 100%;

}

.information-container{

    font-display: down;

}


.footer { 
    position: 200; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}
.Section{
position: bottom;

}



























